*{
	font-family: 'Lato', sans-serif;
}

html{
	height: 100%;
}

body{
	height: 100%;
	overflow: hidden;
}

.left{
	float: left;
}

.right{
	float: right;
}

.column{
	width: 50%;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

/* nav */
.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

nav li{
	cursor: pointer;
}

nav li a{
	font-size: 18pt;
}

i.fa{
	line-height: 0 !important;
}
/* end nav*/

.main{
	margin-top: 100px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	height: 100%;
	margin-bottom: 50px;
}

.enable{

}

.disable{
	display: none;
}

/* about */

.info .name-header{
	margin-top: 0 !important;
	margin-bottom: 5px;
}

.info > h3{
	margin-bottom: 50px;
	margin-top: 5px;
	font-style: italic;
}

.row p{
	font-size: 14pt;
}

/* end about */

/* resume */

#resume-content{
	overflow-y: auto;
	max-height: 825px;
}

#resume-content ul{
	list-style: none;
}

#resume-content .list{
	list-style: square;
}

#resume-content > ul > li{
	clear: both;
}

#resume-content *{
	font-family: 'Arvo', serif;
}

#resume-content > ul > li > ul *, #resume-content > ul > li > div *{
	font-size: 13pt;
}

#resume-content > ul > li > div > div:last-child{
	margin-bottom: 25px;
}

/* end resume*/

/* footer */
footer {
	position:fixed;
	bottom:0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: none;
	height: 40px;
	text-align: center;
	background-color: #222222;
}

footer h4{
	color: #777777;
}

footer h4:hover{
	cursor: default;
	color: #ffffff
}
/* end footer */

/* animations */

.view-animate.ng-enter, .view-animate.ng-leave {
	transition: all cubic-bezier (0.250, 0.460, 0.450, 0.940) 1.5s;
}

/* end animations */
